/*
	Possible Animations:
	enter
	leave
	appear Must set transitionAppear={true} on animation component 
*/

.olist-enter
	transition all 0.5s
	transform translateX(-120%)
	padding 0
	max-height 0
	&.olist-enter-active
		transform translateX(0%)
		padding 2rem 0
		max-height 10rem

.olist-leave
	transition all 0.5s
	transform translateX(0%)
	padding 2rem 0
	max-height 10rem
	
	&.olist-leave-active
		transform translateX(120%)
		padding 0
		max-height 0


.counter-enter
	transition all .3s
	transform translateY(-120%)
	&.counter-enter-active
		transform translateY(0%)

.counter-leave
	transition all .3s
	transform translateY(0%)
	position absolute !important
	left 0
	bottom 0
	&.counter-leave-active
		transform translateY(120%)


